*{
    font-family: 'Bai Jamjuree', sans-serif;
    box-sizing: border-box;
}
/* specify the default font size for root */
html{
    font-size: 18px;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 1.25rem;
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}
header h1{
    font-size: 2.4rem;
    color: hsl(210, 10%, 33%);
}
header img{
    margin: 1.25rem auto;
}
header p{
    color: hsl(201, 11%, 66%)
}
.Button_Container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1.5rem;
    padding: 0 0.25rem;
}
.Button_Container > button{
    padding: 0.5rem 0;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    font-size: 1.05rem;
}

.Button_Container > button:first-child{
    background-color: hsl(171, 66%, 44%);
}
.Button_Container > button:last-child{
    background-color: hsl(233, 100%, 69%);
}
.showcase {
    margin-top: 6rem;
}
.showcase > section >img{
    margin: 2rem 0;
    max-width: 100%;
    width: 100%;
}
.showcase h2{
    color: hsl(210, 10%, 33%);
}
.showcase h3{
    color: hsl(210, 10%, 33%);
}
.showcase p{
    color: hsl(201, 11%, 66%)
}
.clipboard{
    margin: 5rem 0;
}
.clipboard h2{
    color: hsl(210, 10%, 33%);
}
.clipboard img{
    max-width: 100%;
}
.clipboard p{
    color: hsl(201, 11%, 66%)
}
.workflow h2,h3{
    color: hsl(210, 10%, 33%);
}
.workflow p{
    color: hsl(201, 11%, 66%);
}

.card{
    margin: 3rem 0;
}
.icon-conatiner{
    margin-top: 4rem;
}
.icon-conatiner > div{
    margin: 2rem 0;
}
.marketing-section{
    margin: 5rem 0;
}
.marketing-section h1{
    color: hsl(210, 10%, 33%);
}
.marketing-section p{
    color: hsl(201, 11%, 66%);
}
.marketing-section > .btn_c{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1.25rem;
    
}
.marketing-section > .btn_c > button{
    padding: 0.5rem 0;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    font-size: 1.05rem;
}
.btn_c > button:first-child{
    background-color: hsl(171, 66%, 44%);
}
.btn_c > button:last-child{
    background-color: hsl(233, 100%, 69%);
}
.bottom-footer{
    background-color: #F2F1F1;
    padding: 2rem 0;
}
.bottom-footer img{
    width: 3rem;
    height: 3rem;
}
.bottom-footer > .list > .list-item{
    margin: 2rem 0;
    color: hsl(210, 10%, 33%);
}
@media screen and (min-width:1024px){
    .bottom-footer > .list > .list-item{
        margin: 0;
        margin-bottom: 1rem;
        margin:0 0.5rem;
    }
}
.footer-icon img{
    width: 20px;
    height: 20px;
}
.footer-icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    margin: 0 8rem;
    gap: 1rem;
}
@media screen and (min-width:1024px){
    body{
        background-image: url('./images/bg-header-desktop.png');
    }
    .Button_Container{
        grid-template-columns: repeat(2,1fr);
        padding: 0 15rem;
    }
    .showcase{
        margin-top: 7rem;
    }
    .showcase >p{
        padding: 0 18.3rem;
    }
    .showcase > section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
    .points{
        padding-top: 1.0rem;
        text-align: left;
    }
    .clipboard > p{
        padding: 0 19rem;
    }
    .points p{
        margin-bottom: 1.25rem;
        padding-right: 9rem;
    }
    .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: baseline;
    }
    .card-container > div > p{
        padding:0 1.25rem;
    }
    .icon-conatiner{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    .marketing-section > p{
        padding: 0 12rem;
    }
    .marketing-section > .btn_c{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0 15rem;
    }
    .bottom-footer{
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        justify-content: space-between;
    }
    .list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 1200px;
    }
    .footer-icon{
        width: 0%;
        margin: 0 3rem;
    }
}